@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* Mobile phones */
@media only screen and (max-device-width: 640px) {
  a.btn {
    font-size: 1em!important;
    white-space: normal;
    padding: 8px 10px;
  }
}

/* Desktop */
@media only screen and (min-device-width: 641px) {

}

h3.panel-title > div {
  vertical-align: middle;
}
